.navber {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    // background-color: #1c7e88;
}

.search {
    width: 200px;
    background-color: white;
}

input.searchfield {
    width: 390px;
    height: 30px;
    border: 1px;
    font-size: large;
    vertical-align: middle;
}